@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

header {
    position:fixed;
    width: 100%;
    height:10%;
    top:0;
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

footer {
    position: fixed;
    bottom: 0;
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(135deg, #31AF94, #1D6595);
}

.container{
    max-width: 800px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    margin: 0 auto;

}

.container .title{
    font-size:25px;
    font-weight:bold;
    position: relative;
    text-align:center;
}

.container .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 340px;
    background: linear-gradient(135deg, #31AF94, #1D6595);
}

body .button{
    height: 45px;
    margin: 25px 0;
    width: 10%;
    position: fixed;
    top: 0;
    right: 25px;
}

body .button input{
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    letter-spacing: 1px;
    background: linear-gradient(-135deg, #ccc, #ccc);
}

body .button input:hover{
    background: linear-gradient(135deg, #31AF94,#1D6595);
}
