{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{% static 'home.css' %}"
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Basic Website</title>
</head>

<body>
    <header>
        <h1>Welcome to the Home Page!</h1>            
    </header>

    <main>
        <div class="container">
            <h2>About This Project</h2>
            <br>
            <p>Beginning on Wednesday, 2nd August, 2023, this project was handed to me by the team over at Physio AI. As a high school student in year 12, I did have experience using python as a language, but none whatsoever with Django and JSON...</p>
            <br>
            <p>Coincidentally, the project deliverables required that I create this website, complete with a user registration and login functionality, using those very technologies. Thus began my 5 day learning spree!</p>
            <br>
            <p>Each day since then, I have progressed bit by bit, learning the technicalities of the Django framework and JSON. The learning curve was definitely not an easy ride - at times, even demotivating and infuriating, but alas, it is the patience and determiantion of a programmer that pulls us through the end.</p>
            <br>
            <br>
            <p>What you just interacted with and what you see now are the result of the endless hours I spent scouring Django documentations, Stack Overflow threads, and YouTube tutorials.</p>
            <br>
            <p>Thank you for being here!</p>
        </div>
        <br>
        <div class="container">
            <h2>Contact</h2>
            <p>Email: rishitsingh936@gmail.com</p>
            <p>Linkedin: <a href="https://www.linkedin.com/in/rishit-singh-28013b21a/" target="_blank" rel="noopener noreferrer">https://www.linkedin.com/in/rishit-singh-28013b21a/</a> </p> 
        </div>
        
    </main>

    <footer>
        <p>&copy; 2023 Rishit's Basic Website. All rights reserved.</p>
    </footer>
</body>

</html>