{% load static %}
<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="{% static 'login.css' %}">

</head>
<body>
    <div class="container">
        <div class="title">Login</div>
        <form method = "POST">
            {% csrf_token %}
            <div class="user-details">
                <div class="input-box">
                    <span class="details">Username</span>
                    <input type="text" name="username" placeholder="Enter your username" id="username" name="username" required>
                </div>
                <div class="input-box">
                    <span class="details">Password</span>
                    <input type="password" name="password" placeholder="Enter your password" id="password" name="password" required>
                </div>
                <div class="button">
                    <input type="submit" value="Login">
                </div>
            </div>
        </form>
    </div>
</body>